body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fb6f92;
}

.heart {
    height: 150px;
    width: 150px;
    background-color: red;
    position: fixed;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px #f20044;
    animation: beat 0.5s linear infinite alternate;
}

.content {
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
}


.content h1,
.content h2 {
    color: white;
    font-family: helvetica;
}

@keyframes beat {
    0% {
        transform: rotate(45deg) scale(1.10);
    }
    80% {
        transform: rotate(45deg) scale(1.0);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
}

.heart::before {
    right: 50%;
}

.heart::after {
    top: -50%;
}

img {
    width: 15rem;
}

.tulileft {
    position: absolute;
    left: 5px;
}

.tuliright {
    position: absolute;
    right: 5px;
    transform: scaleX(-1);
}

.letter {
    position: relative;
    top: 12rem;
    color: white;
}
