body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
}

.heart {
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px #f20044;
    animation: beat 0.5s linear infinite alternate;
}

.content {
    position: absolute;
    margin-bottom: 50px;
    text-align: center;
}

.content h1,
.content h2 {
    color: white;
    font-family: helvetica;
}

@keyframes beat {
    0% {
        transform: rotate(45deg) scale(1.10);
    }
    80% {
        transform: rotate(45deg) scale(1.0);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 50%;
    box-shadow: 20px 20px 150px #f20044;
}

.heart::before {
    right: 50%;
}

.heart::after {
    top: -50%;
}

img {
    width: 15rem;
}

.tulileft {
    position: absolute;
    left: 5px;
}

.tuliright {
    position: absolute;
    right: 5px;
    transform: scaleX(-1);
}

.xmas {
    position: absolute;
    top: 710px;
    left: 50px;
}

.hoe {
    position: absolute;
    top: 670px;
    right: 50px;
    height: 15rem;
}

@media only screen and (max-width: 768px) {
    .heart {
        height: 100px;
        width: 100px;
    }

    .content {
        margin-bottom: 30px;
    }

    img {
        width: 10rem;
    }
}
